In [26]:
A = {True, 1, 2,False, 'banana','cherry','Apple'}
print(A)

{False, True, 2, 'banana', 'Apple', 'cherry'}

In [27]:
a = {1,2,3,4,5,56,67,3,4,5,4,4,3,4,4,4,4,3,34,35,6,6,5,5,3,4,3,4,4,3,4,4,4,4,}
print(a)

{1, 2, 3, 4, 5, 67, 34, 35, 6, 56}

In [29]:
set1 = {"apple","kartik","cherry","goku"}
set2 = {1,2,3,4,5,6,7,8}
set3 = {True,False,True}
print(set1)
print(set2)
print(set3)

{'apple', 'goku', 'cherry', 'kartik'}
{1, 2, 3, 4, 5, 6, 7, 8}
{False, True}

In [31]:
a = {'kartikya','kamehameha',True,1,3}
print(a)

{True, 'kartikya', 3, 'kamehameha'}

In [33]:
a = {'chaitanya','sumit',}
print(type(a))

<class 'set'>

In [34]:
a = set(("apple","Kartik","cherry"))
print(a)

{'apple', 'Kartik', 'cherry'}

In [1]:
a = {1,2,3,4,5,6,7,8,9,0}

for kartik in a:
    print(kartik)

b = {23,34,"45",323,5,423}

print("25" in b)

0
1
2
3
4
5
6
7
8
9
False

In [3]:
a = (('apple', 'banana', 'cherry'))
print('banan' in a)

False

In [5]:
a = {'pranav', 'kartik', 'priyanshu'}
a.add('ashutosh')
print(a)

{'ashutosh', 'pranav', 'priyanshu', 'kartik'}

In [6]:
a = {'goku', 'vegeta'}
b = {'beerus', 'champa'}
a.update(b)
print(a)

{'vegeta', 'champa', 'beerus', 'goku'}

In [10]:
a = {'eren', 'mikasa', 'armin'}
b = ('levi', 'petra', 'ulou')

a.update(b)
print(a)

{'mikasa', 'armin', 'petra', 'eren', 'ulou', 'levi'}

In [12]:
a = {1,2,3,4,5,6,7,8,9,0}
a.clear()
print(a)

set()

In [13]:
a = {1,2,3,4,5,6,7,8}

del a 
print(a)

NameError: name 'a' is not defined

In [3]:
x = {1,2,3,4}
y = {5,6,7,8,9}
'''combines both sets'''
z = x.union(y)
print(z)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
x = {'kartik', 'arjun', 'suraj', True}
y = {'kartik', 'aryan', 'suraj', 1}

z = y.intersection(x)
'''Keeps the item in both sets'''
print(z)

{True, 'suraj', 'kartik'}

In [4]:
x = {2,3,4,5,6}
y = {2,3,4,7,9,56,2,5,7,8}

z = x.symmetric_difference(y)
'''Removes Duplicates'''
print(z)

{6, 7, 8, 9, 56}

In [11]:
'''True and 1 are always same'''

'True and 1 are always same'

In [14]:
Numbers = {1,2,3,4,5,6,7,8}
if 5 in Numbers:
print("Yes, 5 is a Number!")

IndentationError: expected an indented block after 'if' statement on line 2 (2593961134.py, line 3)